
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
    <title>Home Page</title>
    <style type="text/css" media="screen">
        body {
            text-decoration-color: white;
            font-family: 'Electrolize', sans-serif;
              background: #131418;
              color: #999;
              text-align: center;
              font-size: 15px;
        }
    </style>
</head>
<body>
<h3> Anomalies: <h3/>
  <table>
    <tr>
      <% data.forEach(function(o) { %>
      <td><%= o.timeStep %></td>
      <td> - <%= o.columns %></td>
  <tr>
  <br/>
  </tr>
  <% }); %>
    </tr>
  </table>      <!-- <%= JSON.stringify(data) %> -->







</body>

</html>
