
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style type="text/css" media="screen">
        body {
          align-content: center;
          align-items: center;
            background-color: skyblue;
            text-decoration-color: white;
            font-size:5em;
        }
    </style>
</head>
<body>
<h3>Presening the results: <h3/>

  <table>
    <tr>
      <!-- <%= JSON.stringify(data) %> -->
      <ul>
          <% data.forEach(function(o) { %>
              <li><%= o.timeStep %> - <%= o.columns %></li>
          <% }); %>
    </tr>
    <p>Succeed.</p>
  </table>





</body>

</html>
