<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

<link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Fira+Code:wght@300&family=Mate+SC&family=Space+Mono&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Anomaly Detection Server</title>
  <link rel="stylesheet" href="index.css" />
</head>

<body>
  <div class="base-frame">
    <div class="title">
      <h1>Anomaly Detection Web App</h1>
    </div>
    <div class="upload-files">
      <form action="/upload" method="post" enctype="multipart/form-data" name="searchForm" target="result">
        <div class="radios">
          <div class="rgres-line">
            <label for="rgres-line">Regression Line</label>
            <input class="hbrd-rad" type="radio" name="rad" id="Hybrid-Algorithm" value="">
          </div>
          <div class="hybrid-alg">
            <label for="hbrd-rad">Hybrid Algorithm</label>
            <input class="hbrd-rad" id="hbrd-rad" type="radio" name="rad" value="Regression Line">
          </div>
        </div>
        <div class="proper">
          <div class="file-text">
            <h6>Proper flight CSV:</h6>

          </div>
          <div class="file-up">
            <label class="file-lbl" for="upl-file">upload</label>
            <input id="upl-file" class="upl-file" type="file" name="normal_CSV">
          </div>
        </div>

        <div class="anomal">
          <div class="file-text">
            <h6>Abnormal flight CSV:</h6>
          </div>
          <div class="file-up">
            <label class="file-lbl" for="upl-file">upload</label>
            <input id="upl-file" class="upl-file" type="file" name="anomal_CSV">
          </div>
        </div>

        <div class="send">
          <label for="send-file" class="file-lbl">Submit</label>
          <input id="send-file" class="upl-file" type="submit" value="שלח קובץ">
        </div>
      </form>

    </div>
    <div class="result">
      <iframe class="iframe" name="result" width="90%" height="400">

      </iframe>

    </div>
  </div>



</body>

</html>
